<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/article.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <div class="container">
        <h1>The new article</h1>
        <form action="/article" enctype="multipart/form-data" method="post" class="form">
            <input name="title" type="text" placeholder="Write the title:">
            <br>
            <textarea name="text" rows="4" cols="50" placeholder="Write the text of article:"></textarea>
            <br>
            <input name="author" type="text" placeholder="The author of an article:">
            <br>
            <button name="submit" class="submit" type="submit">Save</button>
        </form>
    </div>
    <div class="list">
        

    </div>
    <script src="/js/articles.js"></script>
</body>
</html>