<div class="block_article">
    <div class="filter">
        <h3>Сортувати статті за тематикою:</h3>
        <select class='by_topic'>
            <option value="0" selected></option>
        
        </select>
        
    </div>
    <button class="all_articles">Всі статті</button>    
</div>
<script src="/js/filter_by_topic.js"></script>
